@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .tooltip{
        position: relative;
    }

    .tooltip .tooltipText{
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;

    }
    .tooltip:hover .tooltipText{
        visibility:visible;
    }

    
    @media screen and (min-width:320px) {
        xs{
            display: flex;
            flex-direction: row;
        }
    }

}